table.tabella {
    border-collapse: collapse;
    border: solid 1px gray;
}

table.tabella td,  table.tabella th {
    border: solid 1px gray;
}

table.tabella th {
    background-color: blue;
    color: white;
}

.corpo input {
    position: absolute;
    border: solid 1px blue;
    border-radius: 5%;
    left: 100px;
    width: 40%;
}

.corpo select {
    position:absolute;
}

.corpo label {
    position:absolute;
    left: 10px;
    width: 80px;
    border-style: inset;
}

.corpo {
    display: none;
}
